*.*~
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/fastlane/report.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/github.properties
app/src/main/java/com/example/vduk_iot_v_app/Const.kt
Const.kt
src/main/java/com/example/vduk_iot_v_app/Const.kt
com/example/vduk_iot_v_app/Const.kt
